 /* .userName{
    font-size: 1.5em;
    padding: 10px;
    margin-right:1em;
    border:5px;
    margin-top: 50px;
    cursor: pointer;
    line-height:0in ;
    color: rgb(236, 232, 232);
    text-align: center;
} */
.form-groupusername{
  margin-top: 40px;
}
.form-groupusername input{
  border :0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.pass{
  margin-top: 30px;
}
.pass input{
  border :0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.buttton-style button{
  border :0;
  background: rgb(42, 42, 59);
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.buttton-style button:hover{
  background: #2ecc71;
}
.form-groupusername input:focus{
  width: 280px;
  border-color: #2ecc71;
}
.pass input:focus{
  width: 280px;
  border-color: #2ecc71;
}



 



